extends /bases/_base

block variables
  - var pageClass = 'index'

block mainContent
  .scene
    section.intro
      .container
        .title
          .info
            .date 截至#{updateTime}
            .share
              a.facebook(href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Ftheinitium.com%2Fproject%2F20200203-international-novel-coronavirus-live" target="_blank")
                span
              a.twitter(href="https://twitter.com/intent/tweet?url=https%3A%2F%2Ftheinitium.com%2Fproject%2F20200203-international-novel-coronavirus-live" target="_blank")
                span
          h1.serif
            | 新型冠狀病毒感染肺炎
            br
            | 全球確診病例分布圖
        .accumulation.serif
          .confirmed
            span 累計確診
            b #{worldCount.confirmed}
          .dead
            span 累計死亡
            b #{worldCount.death}
        .news
          .row.justify-content-center
            .col-lg-8.col-md-10
              h4
                a(href=highlight.link, target="_blank") 今日要點（點擊閱讀全文）
              ul
                li #{highlight.text}
    section.map#map
      div.ctrl
        button(data-zoom="+1").margin-bottom-half +
        button(data-zoom="-1") -
      ul.map-colors
        li 多於 3000 例
        li 1000~2999 例
        li 500~999 例
        li 200~499 例
        li 100~199 例
        li 30~99 例
        li 0~29 例
      .scrolldown.d-sm-none
        a 查看完整數據

  mixin column(item)
    .col-lg-6.col-md-12
      span.local #{item.name_zh}
      span.confirmed #{item.confirmed}
      span.dead #{item.death}

  section.statistic
    .container
      .row
        .col-md-6
          .title.serif
            h3 中國大陸境內
            .info 
              span.confirmed 累計確診 #{chinaCount.confirmed} 例 
              | / 
              span.dead 死亡 #{chinaCount.death} 例
          .content
            .row
              each item in china
                if item.type == "china"
                  +column(item)
        .col-md-6
          .title.serif
            h3 中國大陸境外
            .info 
              span.confirmed 累計確診 #{outsideChinaCount.confirmed} 例 
              | / 
              span.dead 死亡 #{outsideChinaCount.death} 例
          .content
            .row
              each item in world
                if item.type == "world"
                  +column(item)
  section.credit
    .container
      .list
        dl
          dt 網站工程
          dd Felix、Sayid、Elk Liang
          dt 設　　計
          dd 郭瑾燁
          dt 監　　製
          dd 陳莉雅、吳靖
      .share
        a.facebook(href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Ftheinitium.com%2Fproject%2F20200203-international-novel-coronavirus-live" target="_blank")
          span
        a.twitter(href="https://twitter.com/intent/tweet?url=https%3A%2F%2Ftheinitium.com%2Fproject%2F20200203-international-novel-coronavirus-live" target="_blank")
          span
  section.more
    .container
      .title.serif
        h3 延伸閱讀
      .article
        .title.serif
          h4 現場
        .content
          .row
            .col-6.col-md-3
              a(target="_blank" href="https://theinitium.com/article/20200125-international-usa-coronavirus-spread-vaccine/")
                figure
                  img.img-fluid(src="assets/images/20200125-international-usa-coronavirus-spread-vaccine.jpg")
                h5 武漢疫情：封城是最好的辦法嗎？
            .col-6.col-md-3
              a(target="_blank" href="https://theinitium.com/article/20200126-mainland-wuhan-pneumonia-forgotten-patients/")
                figure
                  img.img-fluid(src="assets/images/20200126-mainland-wuhan-pneumonia-forgotten-patients.jpg")
                h5 確診名單外的死亡患者
            .col-6.col-md-3
              a(target="_blank" href="https://theinitium.com/article/20200129-taiwan-mainland-student-wuhan-pneumonia/")
                figure
                  img.img-fluid(src="assets/images/20200129-taiwan-mainland-student-wuhan-pneumonia.jpg")
                h5 返台陸生健康管理爭議：究竟發生什麼事？
            .col-6.col-md-3
              a(target="_blank" href="https://theinitium.com/article/20200131-mainland-wuhan-pneumonia-ngo-red-cross/")
                figure
                  img.img-fluid(src="assets/images/20200131-mainland-wuhan-pneumonia-ngo-red-cross.jpg")
                h5 無法抵達的物資：民間救援為何遲遲送不到一線醫生手上？
      .article
        .title.serif
          h4 解讀
        .content
          .row
            .col-6.col-md-3
              a(target="_blank" href="https://theinitium.com/article/20200124-taiwan-sars-who-wuhan-pneumonia/")
                figure
                  img.img-fluid(src="assets/images/20200124-taiwan-sars-who-wuhan-pneumonia.jpg")
                h5 從SARS到新冠肺炎，台灣因「一個中國」原則被拒於WHO門外再度成為話題
            .col-6.col-md-3
              a(target="_blank" href="https://theinitium.com/article/20200124-mainland-wuhan-pneumonia-keywords/")
                figure
                  img.img-fluid(src="assets/images/20200124-mainland-wuhan-pneumonia-keywords.jpg")
                h5 八問「2019新型冠狀病毒」：如何傳播、怎樣醫治，和SARS有什麼不同？
            .col-6.col-md-3
              a(target="_blank" href="https://theinitium.com/article/20200128-taiwan-mask-wuhan-pneumonia/")
                figure
                  img.img-fluid(src="assets/images/20200128-taiwan-mask-wuhan-pneumonia.jpg")
                h5 台灣口罩去哪兒？為何台灣政府全面禁止出口？
            .col-6.col-md-3
              a(target="_blank" href="https://theinitium.com/article/20200125-mainland-wuhan-sars-pneumonia-publicity/")
                figure
                  img.img-fluid(src="assets/images/20200125-mainland-wuhan-sars-pneumonia-publicity.jpg")
                h5 疫情與輿情十七年：被瞞報的SARS與被孤立的武漢
      .article
        .title.serif
          h4 評論
        .content
          .row
            .col-6.col-md-3
              a(target="_blank" href="https://theinitium.com/article/20200125-international-usa-coronavirus-spread-vaccine/")
                figure
                  img.img-fluid(src="assets/images/20200125-international-usa-coronavirus-spread-vaccine.jpg")
                h5 武漢疫情：封城是最好的辦法嗎？
            .col-6.col-md-3
              a(target="_blank" href="https://theinitium.com/article/20200129-opinion-shaohua-ncov/")
                figure
                  img.img-fluid(src="assets/images/20200129-opinion-shaohua-ncov.jpg")
                h5 劉紹華：說給倖存者聽——「面子」治理下中國反覆付出的防疫代價
            .col-6.col-md-3
              a(target="_blank" href="https://theinitium.com/article/20200129-opinion-pneumonia-hk-control-of-epidemic/")
                figure
                  img.img-fluid(src="assets/images/20200129-opinion-pneumonia-hk-control-of-epidemic.jpg")
                h5 「封關」還是「罷工」？香港政府的防疫策略與信任危機
            .col-6.col-md-3
              a(target="_blank" href="https://theinitium.com/article/20200129-opinion-taiwan-mainland-student-policy-ncov/")
                figure
                  img.img-fluid(src="assets/images/20200129-opinion-taiwan-mainland-student-policy-ncov.jpg")
                h5 許崇銘：防疫中的「陸生返台政策」，為何令人憂慮？如何改善？
